<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xwtec.androidframe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".manager.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.anyan.headerdemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 启动页+引导页 -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.goodDetail.GoodDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgetPassword.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.helpAndFeedback.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.helpAndFeedback.ContactServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.helpAndFeedback.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personalInfo.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.updatePassword.UpdatePasswordActivity" />
        <activity android:name=".ui.address.AddressListActivity" />
        <activity android:name=".ui.address.CreateAddressActivity" />
        <activity android:name=".ui.myOrders.MyOrderActivity" />
        <activity android:name=".ui.classify.ClassifyListActivity" />
        <activity android:name=".ui.affirmOrder.AffirmOrderActivity" />
        <activity android:name=".ui.pay.PayActivity"></activity>
    </application>

</manifest>